a{
    text-decoration: none;
}
ul,li{
    list-style-type: none;
    padding-left: 20px;
}
.lm{
    padding-left: 463px;
}
.menu-button{
    display: none;
}
.navmenu{
    display: none;
}
.navmenu_a{
    display: block;
}


@media only screen and (max-width: 1051px) {
    .menu-button{
        display: block;
        margin-left:250px;
    }
    .navmenu{
        position:absolute;
        top:55px;
        left: -265px;
        
    }
    .navmenu_a{
        display: none;
    }

  }
